@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

li {
  cursor: pointer;
}

@layer base {
  :root {
    --color-primary: #0064ff;
    --color-gray: #7f7f7f;
    --color-lightGray: #eeeeee;
  }
}
