@tailwind components;

@layer components {
  .cardImage {
    @apply rounded mb-4;
    border: 1px solid var(--color-lightGray);
    width: 299px;
    height: 300px;
  }

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 299px;
  }

  .profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-gray);
  }

  .author {
    color: var(--color-darkGray);
    font-size: 12px;
  }

  .updatedAt {
    color: var(--color-gray);
    font-size: 12px;
  }
}
